body{

background:#0d1117;

color:white;

font-family:Arial;

display:flex;

justify-content:center;

margin-top:40px;

}

.container{

background:#161b22;

padding:25px;

border-radius:10px;

width:350px;

}

h1{

text-align:center;

}

input, button{

width:100%;

padding:10px;

margin-top:10px;

border:none;

border-radius:5px;

}

input{

background:#0d1117;

color:white;

border:1px solid #30363d;

}

button{

background:#238636;

color:white;

cursor:pointer;

font-weight:bold;

}

button:hover{

background:#2ea043;

}

ul{

list-style:none;

padding:0;

}

li{

background:#0d1117;

padding:10px;

margin-top:5px;

border-radius:5px;

}

span{

color:red;

cursor:pointer;

float:right;

}
