body{

background:#0d1117;
color:white;
font-family:Arial;
display:flex;
justify-content:center;

}

.container{

background:#161b22;
padding:20px;
border-radius:10px;
width:400px;

}

input, select, button{

width:100%;
padding:10px;
margin-top:10px;
border:none;
border-radius:5px;

}

input, select{

background:#0d1117;
color:white;
border:1px solid #30363d;

}

button{

background:#238636;
color:white;
cursor:pointer;

}

li{

background:#0d1117;
padding:10px;
margin-top:10px;
border-radius:5px;

}

.editar{

color:orange;
cursor:pointer;
margin-right:10px;

}

.excluir{

color:red;
cursor:pointer;

}
