body{

background:#0d1117;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
margin-top:30px;

}

.container{

background:#161b22;
padding:20px;
border-radius:10px;
width:380px;

}

h1{

text-align:center;

}

input, button{

width:100%;
padding:10px;
margin-top:10px;
border:none;
border-radius:5px;
font-size:14px;

}

input{

background:#0d1117;
color:white;
border:1px solid #30363d;

}

button{

background:#238636;
color:white;
cursor:pointer;
font-weight:bold;

}

button:hover{

background:#2ea043;

}

.pdf{

background:#1f6feb;

}

.pdf:hover{

background:#388bfd;

}

ul{

list-style:none;
padding:0;

}

li{

background:#0d1117;
padding:10px;
margin-top:10px;
border-radius:5px;
font-size:14px;

}

.editar{

color:orange;
cursor:pointer;
margin-right:10px;

}

.excluir{

color:red;
cursor:pointer;

}

.alerta{

color:orange;
font-weight:bold;
margin-top:5px;

}
