body{

background:#0d1117;
color:white;
font-family:Arial;
display:flex;
justify-content:center;
margin-top:30px;

}

.container{

background:#161b22;
padding:20px;
border-radius:10px;
width:350px;

}

input, button{

width:100%;
padding:10px;
margin-top:10px;
border:none;
border-radius:5px;

}

button{

background:#238636;
color:white;
cursor:pointer;

}

button:hover{

background:#2ea043;

}

li{

background:#0d1117;
padding:10px;
margin-top:5px;
border-radius:5px;

}

span{

cursor:pointer;
margin-left:10px;

}

.editar{

color:orange;

}

.excluir{

color:red;

}

.alerta{

color:orange;
font-weight:bold;

}
