body{

background:#0d1117;
color:white;
font-family:Arial;

}

.container{

width:500px;
margin:auto;

}

input,select,button{

display:block;
margin:10px 0;
padding:10px;
width:100%;

}

button{

background:#238636;
border:none;
color:white;

}

.dashboard{

background:#161b22;
padding:15px;
margin-bottom:20px;

}

li{

background:#161b22;
padding:10px;
margin:5px 0;

}

.pendente{

border-left:5px solid orange;

}

.concluido{

border-left:5px solid green;

}

.excluir{

color:red;
float:right;
cursor:pointer;

}
